@font-face {
  font-family: BlenderProBook;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BlenderProBook.woff2) format("woff2");
}

@font-face {
  font-family: Oxanium;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Oxanium.woff2) format('woff2');
}

:root {
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --dark-color: #333;
  --blue-color: #00f0ff;
  --cyan-color: #00ffd2;
}

html {
  font-family: "BlenderProBook";
  font-size: 18px;
}

body {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  padding: 5%;
}

.code,
code,
.code-block {
  background-color: var(--dark-color);
  color: var(--cyan-color);
  padding: .3rem .4rem .2rem .4rem;
  font-family: Oxanium !important;
  font-size: .75rem;
  overflow-wrap: break-word;
}

.code-block {
  clip-path: polygon(0 0, 0 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 0);
  display: block;
  padding: .5rem .6rem .4rem .6rem;
}

.code-block::before {
  content: attr(data-title);
  display: block;
  color: var(--yellow-color);
  text-shadow: var(--cyan-color) 1px 1px;
}

iframe {
  padding: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
  max-width: calc(100% - 10px);
}

hr {
  height: 1px;
  background-color: var(--black-color);
  border: none;
}
